In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import warnings
warnings.filterwarnings('ignore')

In [15]:
df= pd.read_csv(r'C:\Users\user\Downloads\Scaled_Primary.csv_')

In [16]:
df.head()

,Year,Completion Rate for Primary Edu,Childhood Education GER,"Gross enrolment ratio, early childhood educational development programmes,","Gross intake ratio to the last grade of primary education,",Literacy rate for 25-64 years old,Expenditure on education as a percentage of total government expenditure (%),Government expenditure on education as a percentage of GDP (%),Central Asia,Central and Southern Asia,Eastern and South-Eastern Asia,Europe and Northern America,Latin America and the Caribbean,Northern Africa and Western Asia,Oceania,Gender_numerical
0,2012,99.8,46.379381,6.361501,108.19,73.7825,19.25,3.90,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,2012,99.7,46.379381,6.361501,106.88,73.7825,19.25,3.90,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,2013,99.9,46.379381,6.361501,109.76,73.7825,17.96,3.44,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,2013,99.8,46.379381,6.361501,108.90,73.7825,17.96,3.44,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,2014,99.9,36.650000,0.000000,115.17,73.7825,17.32,3.42,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1

## Data Transformation

#### 1. Data Rescaling

In [17]:
# Data Rescaling

data_col = df['Year']
df.set_index('Year',inplace =True)

df.head()

,Completion Rate for Primary Edu,Childhood Education GER,"Gross enrolment ratio, early childhood educational development programmes,","Gross intake ratio to the last grade of primary education,",Literacy rate for 25-64 years old,Expenditure on education as a percentage of total government expenditure (%),Government expenditure on education as a percentage of GDP (%),Central Asia,Central and Southern Asia,Eastern and South-Eastern Asia,Europe and Northern America,Latin America and the Caribbean,Northern Africa and Western Asia,Oceania,Gender_numerical
Year,,,,,,,,,,,,,,,
2012,99.8,46.379381,6.361501,108.19,73.7825,19.25,3.90,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2012,99.7,46.379381,6.361501,106.88,73.7825,19.25,3.90,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2013,99.9,46.379381,6.361501,109.76,73.7825,17.96,3.44,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2013,99.8,46.379381,6.361501,108.90,73.7825,17.96,3.44,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2014,99.9,36.650000,0.000000,115.17,73.7825,17.32,3.42,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [19]:
scaler = MinMaxScaler()
normalized_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
normalized_df['Year'] = data_col
normalized_df.set_index('Year', inplace =True)
normalized_df.head()

,Completion Rate for Primary Edu,Childhood Education GER,"Gross enrolment ratio, early childhood educational development programmes,","Gross intake ratio to the last grade of primary education,",Literacy rate for 25-64 years old,Expenditure on education as a percentage of total government expenditure (%),Government expenditure on education as a percentage of GDP (%),Central Asia,Central and Southern Asia,Eastern and South-Eastern Asia,Europe and Northern America,Latin America and the Caribbean,Northern Africa and Western Asia,Oceania,Gender_numerical
Year,,,,,,,,,,,,,,,
2012,0.997413,0.285122,0.068008,0.845059,0.713031,0.482729,0.286765,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2012,0.996120,0.285122,0.068008,0.831545,0.713031,0.482729,0.286765,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013,0.998707,0.285122,0.068008,0.861254,0.713031,0.446206,0.252941,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2013,0.997413,0.285122,0.068008,0.852383,0.713031,0.446206,0.252941,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2014,0.998707,0.224366,0.000000,0.917062,0.713031,0.428086,0.251471,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [20]:
normalized_df.corr()

,Completion Rate for Primary Edu,Childhood Education GER,"Gross enrolment ratio, early childhood educational development programmes,","Gross intake ratio to the last grade of primary education,",Literacy rate for 25-64 years old,Expenditure on education as a percentage of total government expenditure (%),Government expenditure on education as a percentage of GDP (%),Central Asia,Central and Southern Asia,Eastern and South-Eastern Asia,Europe and Northern America,Latin America and the Caribbean,Northern Africa and Western Asia,Oceania,Gender_numerical
Completion Rate for Primary Edu,1.000000,0.351886,0.305259,0.671671,0.398736,6.356004e-03,2.841990e-01,5.677172e-02,1.087869e-01,3.169058e-01,2.679680e-01,1.298787e-01,1.264468e-01,-6.916647e-01,5.555900e-02
Childhood Education GER,0.351886,1.000000,0.334212,0.377295,0.143463,-1.686364e-01,-1.141602e-03,1.016988e-01,1.773651e-01,2.085220e-01,4.306678e-02,-4.911766e-02,6.341314e-02,-3.556380e-01,4.159161e-03
"Gross enrolment ratio, early childhood educational development programmes,",0.305259,0.334212,1.000000,0.200007,0.123545,-1.186181e-02,-2.530235e-02,-1.044926e-01,8.581179e-02,3.599311e-01,1.322042e-01,-1.217224e-01,-1.007880e-01,-2.245242e-01,3.903865e-04
"Gross intake ratio to the last grade of primary education,",0.671671,0.377295,0.200007,1.000000,0.329531,-5.938324e-02,2.255793e-01,1.113258e-01,1.021789e-01,1.786076e-01,2.322325e-01,2.125456e-02,1.365556e-01,-5.428933e-01,-1.899245e-03
Literacy rate for 25-64 years old,0.398736,0.143463,0.123545,0.329531,1.000000,1.647740e-02,9.509635e-02,-1.187706e-01,6.378230e-02,2.029490e-02,4.064745e-01,8.498196e-03,-5.155189e-02,-3.150705e-01,-7.313633e-02
Expenditure on education as a percentage of total government expenditure (%),0.006356,-0.168636,-0.011862,-0.059383,0.016477,1.000000e+00,3.856848e-01,-3.808543e-02,-1.319102e-01,-2.450364e-01,1.310693e-01,-4.273537e-02,-2.578618e-02,1.882934e-01,1.117825e-16
Government expenditure on education as a percentage of GDP (%),0.284199,-0.001142,-0.025302,0.225579,0.095096,3.856848e-01,1.000000e+00,-9.883898e-02,-9.509577e-02,1.931285e-02,6.713575e-02,1.360231e-02,2.169195e-01,-7.387889e-02,9.778019e-17
Central Asia,0.056772,0.101699,-0.104493,0.111326,-0.118771,-3.808543e-02,-9.883898e-02,1.000000e+00,-1.028580e-01,-1.213554e-01,-1.838918e-01,-9.483980e-02,-8.893101e-02,-2.382951e-01,-4.750145e-16
Central and Southern Asia,0.108787,0.177365,0.085812,0.102179,0.063782,-1.319102e-01,-9.509577e-02,-1.028580e-01,1.000000e+00,-1.093283e-01,-1.656670e-01,-8.544059e-02,-8.011740e-02,-2.146786e-01,-9.549145e-17
Eastern and South-Eastern Asia,0.316906,0.208522,0.359931,0.178608,0.020295,-2.450364e-01,1.931285e-02,-1.213554e-01,-1.093283e-01,1.000000e+00,-1.954597e-01,-1.008058e-01,-9.452529e-02,-2.532853e-01,-3.643105e-17
Europe and Northern America,0.267968,0.043067,0.132204,0.232232,0.406474,1.310693e-01,6.713575e-02,-1.838918e-01,-1.656670e-01,-1.954597e-01,1.000000e+00,-1.527526e-01,-1.432357e-01,-3.838073e-01,-7.354120e-17
Latin America and the Caribbean,0.129879,-0.049118,-0.121722,0.021255,0.008498,-4.273537e-02,1.360231e-02,-9.483980e-02,-8.544059e-02,-1.008058e-01,-1.527526e-01,1.000000e+00,-7.387195e-02,-1.979436e-01,-3.848071e-17
Northern Africa and Western Asia,0.126447,0.063413,-0.100788,0.136556,-0.051552,-2.578618e-02,2.169195e-01,-8.893101e-02,-8.011740e-02,-9.452529e-02,-1.432357e-01,-7.387195e-02,1.000000e+00,-1.856112e-01,9.496524e-17
Oceania,-0.691665,-0.355638,-0.224524,-0.542893,-0.315070,1.882934e-01,-7.387889e-02,-2.382951e-01,-2.146786e-01,-2.532853e-01,-3.838073e-01,-1.979436e-01,-1.856112e-01,1.000000e+00,4.241069e-16
Gender_numerical,0.055559,0.004159,0.000390,-0.001899,-0.073136,1.117825e-16,9.778019e-17,-4.750145e-16,-9.549145e-17,-3.643105e-17,-7.354120e-17,-3.848071e-17,9.496524e-17,4.241069e-16,1.000000e+00

## Model Training, Testing and evaluation

 
 Because the target variable been 'Completion rate for primary school Edu' is a continoues data and not categorical. therfore, the model algorithm to be use is the regression and not classifiers.

#### 1. Linear Regression

In [23]:

X = normalized_df.drop('Completion Rate for Primary Edu', axis=1)  # Features
y = normalized_df['Completion Rate for Primary Edu']  # Target

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a Linear Regression model
linear_model = LinearRegression()

# Fit the model to the training dataset
linear_model.fit(X_train, y_train)

# Obtain predictions
predicted_values = linear_model.predict(X_test)

#Measuring regression performance
MAE = mean_absolute_error(y_test, predicted_values)
MSE = mean_squared_error(y_test, predicted_values)
RMSE =np.sqrt(mean_squared_error(y_test, predicted_values))
RSS =np.sum(np.square(y_test, predicted_values))
r2=r2_score(y_test, predicted_values)

In [24]:
# Model evaluation

results = pd.DataFrame([['Linear regression', MAE, MSE, RMSE, RSS,r2]],
               columns = ['Model', 'MAE', 'MSE', 'RMSE', 'RSS','r2_score'])
results

               Model       MAE      MSE      RMSE         RSS  r2_score
0  Linear regression  0.115758  0.02188  0.147917  230.496277  0.708722

In [25]:
lreg_df = pd.DataFrame(data ={"actual_values": y_test, "predictions":predicted_values})
lreg_df

      actual_values  predictions
Year
2018       0.965468     0.932129
2019       0.896534     0.803773
2019       0.981893     0.964115
2019       1.000000     1.000000
2012       0.067512     0.004558
...             ...          ...
2016       0.952923     0.908062
2017       0.981376     0.963099
2013       0.991205     0.982488
2013       0.971159     0.943149
2020       0.993533     0.987109

[340 rows x 2 columns]

#### Decition Tree Regressor

In [26]:
from sklearn.tree import DecisionTreeRegressor


DecisionTree_model = DecisionTreeRegressor()
DecisionTree_model.fit(X_train,y_train)

DecisionTreeRegressor()

In [27]:
y_preds = DecisionTree_model.predict(X_test)

In [28]:
# Model Evaluation
mae= mean_absolute_error(y_test, y_preds)
mse= mean_squared_error(y_test, y_preds)
rmse=np.sqrt(mean_squared_error(y_test, y_preds))
rss=np.sum(np.square(y_test, y_preds))
r_squared=r2_score(y_test, y_preds)

In [29]:
model_results = pd.DataFrame([['Decision Tree regression', mae, mse, rmse, rss,r_squared]],
               columns = ['Model', 'MAE', 'MSE', 'RMSE', 'RSS','r2_score'])
results = pd.concat([results, model_results], ignore_index=True)

In [30]:
model_results

,Model,MAE,MSE,RMSE,RSS,r2_score
0,Decision Tree regression,0.061874,0.016756,0.129446,230.496277,0.708722

In [31]:
Dreg_df = pd.DataFrame(data ={"actual_values": y_test, "predictions":predicted_values})
Dreg_df

      actual_values  predictions
Year
2018       0.965468     0.932129
2019       0.896534     0.803773
2019       0.981893     0.964115
2019       1.000000     1.000000
2012       0.067512     0.004558
...             ...          ...
2016       0.952923     0.908062
2017       0.981376     0.963099
2013       0.991205     0.982488
2013       0.971159     0.943149
2020       0.993533     0.987109

[340 rows x 2 columns]

#### K-Nearest Neighbors Regression (KNN Regression)

In [32]:
knn = KNeighborsRegressor()

knn.fit(X_train, y_train)

KNeighborsRegressor()

In [33]:
knn_predictions  = knn.predict(X_test)

In [34]:
print(knn_predictions.shape, y_test.shape)

(340,) (340,)

In [35]:
# getting model scores
knn_r2 = r2_score(y_test, knn_predictions)
knn_mse = mean_squared_error( y_test,knn_predictions)
knn_rmse = np.sqrt(knn_mse)
knn_mae = mean_absolute_error(y_test,knn_predictions)
knn_rss = np.sum(np.square(y_test, knn_predictions))

In [36]:
model_results = pd.DataFrame([['KNN regression', knn_mae, knn_mse, knn_rmse, knn_rss,knn_r2]],
               columns = ['Model', 'MAE', 'MSE', 'RMSE', 'RSS','r2_score'])
results = pd.concat([results, model_results], ignore_index=True)

In [37]:
model_results

            Model       MAE       MSE      RMSE         RSS  r2_score
0  KNN regression  0.071643  0.014794  0.121629  230.496277  0.778924

In [38]:
knn_df = pd.DataFrame(data ={"actual_values": y_test, "predictions":knn_predictions})
knn_df.sort_index(ascending=True, inplace=True)
knn_df

      actual_values  predictions
Year
2012       0.932747     0.870017
2012       0.900802     0.811444
2012       0.970253     0.941392
2012       0.989653     0.979414
2012       0.132178     0.017471
...             ...          ...
2021       0.980859     0.962084
2021       0.987325     0.974811
2021       0.968314     0.937631
2021       1.000000     1.000000
2021       0.930807     0.866402

[340 rows x 2 columns]

In [44]:
from sklearn.ensemble import GradientBoostingRegressor

Gbr = GradientBoostingRegressor()
Gbr.fit(X_train,y_train)

GradientBoostingRegressor()

In [45]:
Gbr_predictions  = Gbr.predict(X_test)

In [46]:
# getting model scores
Gbr_r2 = r2_score(y_test, Gbr_predictions)
Gbr_mse = mean_squared_error( y_test,Gbr_predictions)
Gbr_rmse = np.sqrt(Gbr_mse)
Gbr_mae = mean_absolute_error(y_test,Gbr_predictions)
Gbr_rss = np.sum(np.square(y_test, Gbr_predictions))

In [47]:
model_results = pd.DataFrame([['GBR regression', knn_mae, knn_mse, knn_rmse, knn_rss,knn_r2]],
               columns = ['Model', 'MAE', 'MSE', 'RMSE', 'RSS','r2_score'])
results = pd.concat([results, model_results], ignore_index=True)

In [48]:
model_results

            Model       MAE       MSE      RMSE         RSS  r2_score
0  GBR regression  0.071643  0.014794  0.121629  230.496277  0.778924

In [49]:
Gbr_df = pd.DataFrame(data ={"actual_values": y_test, "predictions":knn_predictions})
Gbr_df.sort_index(ascending=True, inplace=True)
Gbr_df

      actual_values  predictions
Year
2012       0.932747     0.870017
2012       0.900802     0.811444
2012       0.970253     0.941392
2012       0.989653     0.979414
2012       0.132178     0.017471
...             ...          ...
2021       0.980859     0.962084
2021       0.987325     0.974811
2021       0.968314     0.937631
2021       1.000000     1.000000
2021       0.930807     0.866402

[340 rows x 2 columns]

In [50]:
# Printing the stored results of all the three models
results.drop_duplicates()

,Model,MAE,MSE,RMSE,RSS,r2_score
0,Linear regression,0.115758,0.021880,0.147917,230.496277,0.708722
1,Decision Tree regression,0.061874,0.016756,0.129446,230.496277,0.708722
2,KNN regression,0.071643,0.014794,0.121629,230.496277,0.778924
3,GBR regression,0.071643,0.014794,0.121629,230.496277,0.778924

### conclusion

1.Decision Tree Regression seems to perform well in terms of minimizing errors.
2.KNN Regression and GBR Regression have higher R-squared values, suggesting better explanatory power.
3.Both KNN and GBR have the same MAE, MSE, and RMSE, indicating similar performance on average.

# PS


### I am still a newbie in model building and above is what i could come up with, please what other things do we need to include or are there some things that needs to be remove?.
?.