# Model Algorithm 

#### Linear Regressor
#### K Neighbors Regressor
#### Decision Tree Regressor
#### Gradient boosting Regressor

In [24]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import warnings
warnings.filterwarnings('ignore')

In [25]:
df= pd.read_csv(r'C:\Users\user\Downloads\Scaled_Primary.csv_')

In [26]:
df.head()

,Year,Completion Rate for Primary Edu,Childhood Education GER,"Gross enrolment ratio, early childhood educational development programmes,","Gross intake ratio to the last grade of primary education,",Literacy rate for 25-64 years old,Expenditure on education as a percentage of total government expenditure (%),Government expenditure on education as a percentage of GDP (%),Central Asia,Central and Southern Asia,Eastern and South-Eastern Asia,Europe and Northern America,Latin America and the Caribbean,Northern Africa and Western Asia,Oceania,Gender_numerical
0,2012,99.8,46.379381,6.361501,108.19,73.7825,19.25,3.90,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,2012,99.7,46.379381,6.361501,106.88,73.7825,19.25,3.90,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,2013,99.9,46.379381,6.361501,109.76,73.7825,17.96,3.44,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,2013,99.8,46.379381,6.361501,108.90,73.7825,17.96,3.44,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,2014,99.9,36.650000,0.000000,115.17,73.7825,17.32,3.42,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1

## Data Transformation

#### 1. Data Rescaling

In [27]:
# Data Rescaling

data_col = df['Year']
df.set_index('Year',inplace =True)

df.head()

,Completion Rate for Primary Edu,Childhood Education GER,"Gross enrolment ratio, early childhood educational development programmes,","Gross intake ratio to the last grade of primary education,",Literacy rate for 25-64 years old,Expenditure on education as a percentage of total government expenditure (%),Government expenditure on education as a percentage of GDP (%),Central Asia,Central and Southern Asia,Eastern and South-Eastern Asia,Europe and Northern America,Latin America and the Caribbean,Northern Africa and Western Asia,Oceania,Gender_numerical
Year,,,,,,,,,,,,,,,
2012,99.8,46.379381,6.361501,108.19,73.7825,19.25,3.90,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2012,99.7,46.379381,6.361501,106.88,73.7825,19.25,3.90,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2013,99.9,46.379381,6.361501,109.76,73.7825,17.96,3.44,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2013,99.8,46.379381,6.361501,108.90,73.7825,17.96,3.44,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2014,99.9,36.650000,0.000000,115.17,73.7825,17.32,3.42,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [28]:
scaler = MinMaxScaler()
normalized_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
normalized_df['Year'] = data_col
normalized_df.set_index('Year', inplace =True)
normalized_df.head()

,Completion Rate for Primary Edu,Childhood Education GER,"Gross enrolment ratio, early childhood educational development programmes,","Gross intake ratio to the last grade of primary education,",Literacy rate for 25-64 years old,Expenditure on education as a percentage of total government expenditure (%),Government expenditure on education as a percentage of GDP (%),Central Asia,Central and Southern Asia,Eastern and South-Eastern Asia,Europe and Northern America,Latin America and the Caribbean,Northern Africa and Western Asia,Oceania,Gender_numerical
Year,,,,,,,,,,,,,,,
2012,0.997413,0.285122,0.068008,0.845059,0.713031,0.482729,0.286765,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2012,0.996120,0.285122,0.068008,0.831545,0.713031,0.482729,0.286765,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013,0.998707,0.285122,0.068008,0.861254,0.713031,0.446206,0.252941,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2013,0.997413,0.285122,0.068008,0.852383,0.713031,0.446206,0.252941,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2014,0.998707,0.224366,0.000000,0.917062,0.713031,0.428086,0.251471,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [29]:
normalized_df.corr()

,Completion Rate for Primary Edu,Childhood Education GER,"Gross enrolment ratio, early childhood educational development programmes,","Gross intake ratio to the last grade of primary education,",Literacy rate for 25-64 years old,Expenditure on education as a percentage of total government expenditure (%),Government expenditure on education as a percentage of GDP (%),Central Asia,Central and Southern Asia,Eastern and South-Eastern Asia,Europe and Northern America,Latin America and the Caribbean,Northern Africa and Western Asia,Oceania,Gender_numerical
Completion Rate for Primary Edu,1.000000,0.351886,0.305259,0.671671,0.398736,6.356004e-03,2.841990e-01,5.677172e-02,1.087869e-01,3.169058e-01,2.679680e-01,1.298787e-01,1.264468e-01,-6.916647e-01,5.555900e-02
Childhood Education GER,0.351886,1.000000,0.334212,0.377295,0.143463,-1.686364e-01,-1.141602e-03,1.016988e-01,1.773651e-01,2.085220e-01,4.306678e-02,-4.911766e-02,6.341314e-02,-3.556380e-01,4.159161e-03
"Gross enrolment ratio, early childhood educational development programmes,",0.305259,0.334212,1.000000,0.200007,0.123545,-1.186181e-02,-2.530235e-02,-1.044926e-01,8.581179e-02,3.599311e-01,1.322042e-01,-1.217224e-01,-1.007880e-01,-2.245242e-01,3.903865e-04
"Gross intake ratio to the last grade of primary education,",0.671671,0.377295,0.200007,1.000000,0.329531,-5.938324e-02,2.255793e-01,1.113258e-01,1.021789e-01,1.786076e-01,2.322325e-01,2.125456e-02,1.365556e-01,-5.428933e-01,-1.899245e-03
Literacy rate for 25-64 years old,0.398736,0.143463,0.123545,0.329531,1.000000,1.647740e-02,9.509635e-02,-1.187706e-01,6.378230e-02,2.029490e-02,4.064745e-01,8.498196e-03,-5.155189e-02,-3.150705e-01,-7.313633e-02
Expenditure on education as a percentage of total government expenditure (%),0.006356,-0.168636,-0.011862,-0.059383,0.016477,1.000000e+00,3.856848e-01,-3.808543e-02,-1.319102e-01,-2.450364e-01,1.310693e-01,-4.273537e-02,-2.578618e-02,1.882934e-01,1.117825e-16
Government expenditure on education as a percentage of GDP (%),0.284199,-0.001142,-0.025302,0.225579,0.095096,3.856848e-01,1.000000e+00,-9.883898e-02,-9.509577e-02,1.931285e-02,6.713575e-02,1.360231e-02,2.169195e-01,-7.387889e-02,9.778019e-17
Central Asia,0.056772,0.101699,-0.104493,0.111326,-0.118771,-3.808543e-02,-9.883898e-02,1.000000e+00,-1.028580e-01,-1.213554e-01,-1.838918e-01,-9.483980e-02,-8.893101e-02,-2.382951e-01,-4.750145e-16
Central and Southern Asia,0.108787,0.177365,0.085812,0.102179,0.063782,-1.319102e-01,-9.509577e-02,-1.028580e-01,1.000000e+00,-1.093283e-01,-1.656670e-01,-8.544059e-02,-8.011740e-02,-2.146786e-01,-9.549145e-17
Eastern and South-Eastern Asia,0.316906,0.208522,0.359931,0.178608,0.020295,-2.450364e-01,1.931285e-02,-1.213554e-01,-1.093283e-01,1.000000e+00,-1.954597e-01,-1.008058e-01,-9.452529e-02,-2.532853e-01,-3.643105e-17
Europe and Northern America,0.267968,0.043067,0.132204,0.232232,0.406474,1.310693e-01,6.713575e-02,-1.838918e-01,-1.656670e-01,-1.954597e-01,1.000000e+00,-1.527526e-01,-1.432357e-01,-3.838073e-01,-7.354120e-17
Latin America and the Caribbean,0.129879,-0.049118,-0.121722,0.021255,0.008498,-4.273537e-02,1.360231e-02,-9.483980e-02,-8.544059e-02,-1.008058e-01,-1.527526e-01,1.000000e+00,-7.387195e-02,-1.979436e-01,-3.848071e-17
Northern Africa and Western Asia,0.126447,0.063413,-0.100788,0.136556,-0.051552,-2.578618e-02,2.169195e-01,-8.893101e-02,-8.011740e-02,-9.452529e-02,-1.432357e-01,-7.387195e-02,1.000000e+00,-1.856112e-01,9.496524e-17
Oceania,-0.691665,-0.355638,-0.224524,-0.542893,-0.315070,1.882934e-01,-7.387889e-02,-2.382951e-01,-2.146786e-01,-2.532853e-01,-3.838073e-01,-1.979436e-01,-1.856112e-01,1.000000e+00,4.241069e-16
Gender_numerical,0.055559,0.004159,0.000390,-0.001899,-0.073136,1.117825e-16,9.778019e-17,-4.750145e-16,-9.549145e-17,-3.643105e-17,-7.354120e-17,-3.848071e-17,9.496524e-17,4.241069e-16,1.000000e+00

In [30]:
# spliting the dataset into train set, test set, validation set.
datax = normalized_df.drop('Completion Rate for Primary Edu', axis = 1)
datay = normalized_df['Completion Rate for Primary Edu']

train_ratio = 0.75
val_ratio = 0.15
test_ratio = 0.10

# making the train set to be 75% of the entire dataset.
x_train, x_test, y_train, y_test = train_test_split(datax, datay, test_size = 1-train_ratio)

# test is now 10% of the entire dataset
# validation is now 15% of the entire dataset

x_val, x_test, y_val, y_test = train_test_split(x_test, y_test, test_size = test_ratio/(test_ratio + val_ratio))

print(x_train, x_val, x_test)

      Childhood Education GER  \
Year
2017                 0.404084
2015                 0.285122
2018                 0.283002
2015                 0.568003
2017                 0.250156
...                       ...
2015                 0.582365
2020                 0.178094
2021                 0.285122
2020                 0.447733
2016                 0.285122

      Gross enrolment ratio, early childhood educational development programmes,  \
Year
2017                                           0.408916
2015                                           0.068008
2018                                           0.392666
2015                                           0.644751
2017                                           0.057943
...                                                 ...
2015                                           0.000000
2020                                           0.000000
2021                                           0.068008
2020                                           0.000000
2016                                           0.097605

      Gross intake ratio to the last grade of primary education,  \
Year
2017                                           0.646373
2015                                           0.754797
2018                                           0.791417
2015                                           0.729523
2017                                           0.757376
...                                                 ...
2015                                           0.751805
2020                                           0.660512
2021                                           0.646373
2020                                           0.648545
2016                                           0.646373

      Literacy rate for 25-64 years old  \
Year
2017                           0.983910
2015                           0.948884
2018                           0.976686
2015                           0.713031
2017                           0.713031
...                                 ...
2015                           0.713031
2020                           0.713031
2021                           0.991900
2020                           0.713031
2016                           0.713031

      Expenditure on education as a percentage of total government expenditure (%)  \
Year
2017                                           0.359003
2015                                           0.342299
2018                                           0.413364
2015                                           0.307191
2017                                           0.313137
...                                                 ...
2015                                           0.363037
2020                                           0.451302
2021                                           0.417044
2020                                           0.381370
2016                                           0.479898

      Government expenditure on education as a percentage of GDP (%)  \
Year
2017                                           0.328676
2015                                           0.328676
2018                                           0.202206
2015                                           0.352206
2017                                           0.400735
...                                                 ...
2015                                           0.306152
2020                                           0.293382
2021                                           0.330147
2020                                           0.306152
2016                                           0.390441

      Central Asia  Central and Southern Asia  Eastern and South-Eastern Asia  \
Year
2017           0.0                        0.0                             0.0
2015           0.0                        0.0                             0.0
2018           0.0                        1.0                             0.0
2015           0.0                        0.0                             1.0
2017           0.0                        0.0                             0.0
...            ...                        ...                             ...
2015           0.0                        0.0                             0.0
2020           0.0                        0.0                             0.0
2021           0.0                        0.0                             0.0
2020           0.0                        0.0                             0.0
2016           0.0                        0.0                             0.0

      Europe and Northern America  Latin America and the Caribbean  \
Year
2017                          1.0                              0.0
2015                          1.0                              0.0
2018                          0.0                              0.0
2015                          0.0                              0.0
2017                          1.0                              0.0
...                           ...                              ...
2015                          0.0                              0.0
2020                          0.0                              0.0
2021                          1.0                              0.0
2020                          0.0                              0.0
2016                          1.0                              0.0

      Northern Africa and Western Asia  Oceania  Gender_numerical
Year
2017                               0.0      0.0               0.0
2015                               0.0      0.0               1.0
2018                               0.0      0.0               0.0
2015                               0.0      0.0               0.0
2017                               0.0      0.0               1.0
...                                ...      ...               ...
2015                               1.0      0.0               1.0
2020                               0.0      1.0               0.0
2021                               0.0      0.0               1.0
2020                               0.0      1.0               0.0
2016                               0.0      0.0               1.0

[1273 rows x 14 columns]       Childhood Education GER  \
Year
2013                 0.139503
2012                 0.422942
2017                 0.285122
2015                 0.276508
2017                 0.435931
...                       ...
2019                 0.110091
2012                 0.057387
2019                 0.477270
2018                 0.285122
2015                 0.133321

      Gross enrolment ratio, early childhood educational development programmes,  \
Year
2013                                           0.012829
2012                                           0.000000
2017                                           0.068008
2015                                           0.000000
2017                                           0.000000
...                                                 ...
2019                                           0.000000
2012                                           0.000000
2019                                           0.000000
2018                                           0.000000
2015                                           0.000000

      Gross intake ratio to the last grade of primary education,  \
Year
2013                                           0.763152
2012                                           0.646373
2017                                           0.646373
2015                                           0.370332
2017                                           0.708376
...                                                 ...
2019                                           0.582216
2012                                           0.752837
2019                                           0.427068
2018                                           0.646373
2015                                           0.673097

      Literacy rate for 25-64 years old  \
Year
2013                           0.713031
2012                           0.713031
2017                           0.713031
2015                           0.713031
2017                           0.713031
...                                 ...
2019                           0.713031
2012                           0.713031
2019                           0.345665
2018                           0.713031
2015                           0.713031

      Expenditure on education as a percentage of total government expenditure (%)  \
Year
2013                                           0.363037
2012                                           0.345696
2017                                           0.240657
2015                                           0.363037
2017                                           0.528596
...                                                 ...
2019                                           0.343431
2012                                           0.401189
2019                                           0.265855
2018                                           0.366365
2015                                           0.462061

      Government expenditure on education as a percentage of GDP (%)  \
Year
2013                                           0.306152
2012                                           0.289706
2017                                           0.144118
2015                                           0.306152
2017                                           0.427941
...                                                 ...
2019                                           0.183824
2012                                           0.295588
2019                                           0.162500
2018                                           0.306152
2015                                           0.461029

      Central Asia  Central and Southern Asia  Eastern and South-Eastern Asia  \
Year
2013           0.0                        0.0                             0.0
2012           0.0                        1.0                             0.0
2017           0.0                        0.0                             0.0
2015           0.0                        0.0                             0.0
2017           0.0                        0.0                             0.0
...            ...                        ...                             ...
2019           0.0                        0.0                             0.0
2012           1.0                        0.0                             0.0
2019           1.0                        0.0                             0.0
2018           0.0                        0.0                             0.0
2015           1.0                        0.0                             0.0

      Europe and Northern America  Latin America and the Caribbean  \
Year
2013                          1.0                              0.0
2012                          0.0                              0.0
2017                          0.0                              0.0
2015                          0.0                              1.0
2017                          0.0                              0.0
...                           ...                              ...
2019                          0.0                              0.0
2012                          0.0                              0.0
2019                          0.0                              0.0
2018                          0.0                              0.0
2015                          0.0                              0.0

      Northern Africa and Western Asia  Oceania  Gender_numerical
Year
2013                               0.0      0.0               0.0
2012                               0.0      0.0               0.0
2017                               1.0      0.0               0.0
2015                               0.0      0.0               0.0
2017                               0.0      1.0               0.0
...                                ...      ...               ...
2019                               0.0      1.0               0.0
2012                               0.0      0.0               0.0
2019                               0.0      0.0               1.0
2018                               1.0      0.0               0.0
2015                               0.0      0.0               0.0

[255 rows x 14 columns]       Childhood Education GER  \
Year
2019                 0.285122
2015                 0.568003
2015                 0.410204
2017                 0.285122
2012                 0.576620
...                       ...
2020                 0.285122
2018                 0.107031
2012                 0.536718
2021                 0.285122
2012                 0.687336

      Gross enrolment ratio, early childhood educational development programmes,  \
Year
2019                                           0.000000
2015                                           0.887962
2015                                           0.762775
2017                                           0.000000
2012                                           0.669660
...                                                 ...
2020                                           0.000000
2018                                           0.000000
2012                                           0.000000
2021                                           0.068008
2012                                           0.000000

      Gross intake ratio to the last grade of primary education,  \
Year
2019                                           0.646373
2015                                           0.722715
2015                                           0.646373
2017                                           0.646373
2012                                           0.804828
...                                                 ...
2020                                           0.646373
2018                                           0.373324
2012                                           0.855168
2021                                           0.798226
2012                                           0.767691

      Literacy rate for 25-64 years old  \
Year
2019                           0.713031
2015                           0.713031
2015                           0.933231
2017                           0.713031
2012                           0.713031
...                                 ...
2020                           0.713031
2018                           0.462128
2012                           0.713031
2021                           0.965959
2012                           0.713031

      Expenditure on education as a percentage of total government expenditure (%)  \
Year
2019                                           0.453851
2015                                           0.369762
2015                                           0.420725
2017                                           0.437146
2012                                           0.308324
...                                                 ...
2020                                           0.445074
2018                                           0.358720
2012                                           0.363037
2021                                           0.363037
2012                                           0.352208

      Government expenditure on education as a percentage of GDP (%)  \
Year
2019                                           0.411029
2015                                           0.306152
2015                                           0.283824
2017                                           0.342647
2012                                           0.364706
...                                                 ...
2020                                           0.340441
2018                                           0.175000
2012                                           0.259559
2021                                           0.306152
2012                                           0.365441

      Central Asia  Central and Southern Asia  Eastern and South-Eastern Asia  \
Year
2019           1.0                        0.0                             0.0
2015           0.0                        0.0                             0.0
2015           0.0                        1.0                             0.0
2017           0.0                        0.0                             0.0
2012           0.0                        0.0                             1.0
...            ...                        ...                             ...
2020           0.0                        0.0                             0.0
2018           0.0                        0.0                             0.0
2012           1.0                        0.0                             0.0
2021           0.0                        0.0                             0.0
2012           1.0                        0.0                             0.0

      Europe and Northern America  Latin America and the Caribbean  \
Year
2019                          0.0                              0.0
2015                          1.0                              0.0
2015                          0.0                              0.0
2017                          1.0                              0.0
2012                          0.0                              0.0
...                           ...                              ...
2020                          0.0                              0.0
2018                          0.0                              0.0
2012                          0.0                              0.0
2021                          1.0                              0.0
2012                          0.0                              0.0

      Northern Africa and Western Asia  Oceania  Gender_numerical
Year
2019                               0.0      0.0               0.0
2015                               0.0      0.0               0.0
2015                               0.0      0.0               1.0
2017                               0.0      0.0               0.0
2012                               0.0      0.0               0.0
...                                ...      ...               ...
2020                               0.0      1.0               0.0
2018                               0.0      1.0               0.0
2012                               0.0      0.0               1.0
2021                               0.0      0.0               1.0
2012                               0.0      0.0               0.0

[170 rows x 14 columns]

## Model Training, Testing and evaluation

 
 Because the target variable been 'Completion rate for primary school Edu' is a continoues data and not categorical. therfore, the model algorithm to be use is the regression and not classifiers.

#### 1. Linear Regression

In [31]:

import time

# Record start time
start_time = time.time()

# Create a Linear Regression model
linear_model = LinearRegression()

# Fit the model to the training dataset
linear_model.fit(x_train, y_train)

# Record end time
end_time = time.time()

# Calculate elapsed time
elapsed_time = end_time - start_time

# Display training time
print("Training took {:.2f} seconds.".format(elapsed_time))

Training took 0.06 seconds.

In [32]:
# Obtain predictions
predicted_values = linear_model.predict(x_test)

#Measuring regression performance
MAE = mean_absolute_error(y_test, predicted_values)
MSE = mean_squared_error(y_test, predicted_values)
RMSE =np.sqrt(mean_squared_error(y_test, predicted_values))
RSS =np.sum(np.square(y_test, predicted_values))
r2=r2_score(y_test, predicted_values)

In [33]:
# Model evaluation

results = pd.DataFrame([['Linear regression', MAE, MSE, RMSE, RSS,r2]],
               columns = ['Model', 'MAE', 'MSE', 'RMSE', 'RSS','r2_score'])
results

               Model       MAE       MSE      RMSE         RSS  r2_score
0  Linear regression  0.121022  0.027553  0.165992  104.785737  0.768865

In [34]:
lreg_df = pd.DataFrame(data ={"actual_values": y_test, "predictions":predicted_values})
lreg_df

      actual_values  predictions
Year
2019       0.985773     0.971749
2015       0.989653     0.979414
2015       0.979177     0.958788
2017       0.974133     0.948936
2012       1.000000     1.000000
...             ...          ...
2020       0.662700     0.439172
2018       0.383601     0.147149
2012       0.578376     0.334518
2021       0.949172     0.900928
2012       0.948267     0.899210

[170 rows x 2 columns]

#### Decition Tree Regressor

In [35]:
from sklearn.tree import DecisionTreeRegressor

import time


# Record start time
start_time = time.time()

DecisionTree_model = DecisionTreeRegressor()
DecisionTree_model.fit(x_train,y_train)

# Record end time
end_time = time.time()

# Calculate elapsed time
elapsed_time = end_time - start_time

# Display training time
print("Training took {:.2f} seconds.".format(elapsed_time))

Training took 0.13 seconds.

In [36]:
y_preds = DecisionTree_model.predict(x_test)

In [37]:
# Model Evaluation
mae= mean_absolute_error(y_test, y_preds)
mse= mean_squared_error(y_test, y_preds)
rmse=np.sqrt(mean_squared_error(y_test, y_preds))
rss=np.sum(np.square(y_test, y_preds))
r_squared=r2_score(y_test, y_preds)

In [38]:
model_results = pd.DataFrame([['Decision Tree regression', mae, mse, rmse, rss,r_squared]],
               columns = ['Model', 'MAE', 'MSE', 'RMSE', 'RSS','r2_score'])
results = pd.concat([results, model_results], ignore_index=True)

In [39]:
model_results

                      Model       MAE       MSE     RMSE         RSS  r2_score
0  Decision Tree regression  0.065356  0.018835  0.13724  104.785737  0.768865

In [40]:
Dreg_df = pd.DataFrame(data ={"actual_values": y_test, "predictions":predicted_values})
Dreg_df

      actual_values  predictions
Year
2019       0.985773     0.971749
2015       0.989653     0.979414
2015       0.979177     0.958788
2017       0.974133     0.948936
2012       1.000000     1.000000
...             ...          ...
2020       0.662700     0.439172
2018       0.383601     0.147149
2012       0.578376     0.334518
2021       0.949172     0.900928
2012       0.948267     0.899210

[170 rows x 2 columns]

#### K-Nearest Neighbors Regression (KNN Regression)

In [41]:

# Record start time
start_time = time.time()

knn = KNeighborsRegressor()

knn.fit(x_train, y_train)

# Record end time
end_time = time.time()

# Calculate elapsed time
elapsed_time = end_time - start_time

# Display training time
print("Training took {:.2f} seconds.".format(elapsed_time))

Training took 0.16 seconds.

In [43]:
knn_predictions  = knn.predict(x_test)

In [44]:
print(knn_predictions.shape, y_test.shape)

(170,) (170,)

In [48]:
# getting model scores
knn_r2 = r2_score(y_test, knn_predictions)
knn_mse = mean_squared_error( y_test,knn_predictions)
knn_rmse = np.sqrt(knn_mse)
knn_mae = mean_absolute_error(y_test,knn_predictions)
knn_rss = np.sum(np.square(y_test, knn_predictions))

In [49]:
model_results = pd.DataFrame([['KNN regression', knn_mae, knn_mse, knn_rmse, knn_rss,knn_r2]],
               columns = ['Model', 'MAE', 'MSE', 'RMSE', 'RSS','r2_score'])
results = pd.concat([results, model_results], ignore_index=True)

In [50]:
model_results

            Model       MAE       MSE      RMSE         RSS  r2_score
0  KNN regression  0.082342  0.018448  0.135824  104.785737  0.793223

In [51]:
knn_df = pd.DataFrame(data ={"actual_values": y_test, "predictions":knn_predictions})
knn_df.sort_index(ascending=True, inplace=True)
knn_df

      actual_values  predictions
Year
2012       0.948267     0.899210
2012       0.983187     0.966656
2012       0.624935     0.390544
2012       0.578376     0.334518
2012       0.204604     0.041863
...             ...          ...
2021       0.974521     0.949692
2021       0.967926     0.936880
2021       0.949172     0.900928
2021       1.000000     1.000000
2021       0.945810     0.894556

[170 rows x 2 columns]

In [52]:
from sklearn.ensemble import GradientBoostingRegressor


# Record start time
start_time = time.time()

Gbr = GradientBoostingRegressor()
Gbr.fit(x_train,y_train)

# Record end time
end_time = time.time()

# Calculate elapsed time
elapsed_time = end_time - start_time

# Display training time
print("Training took {:.2f} seconds.".format(elapsed_time))

Training took 0.68 seconds.

In [54]:
Gbr_predictions  = Gbr.predict(x_test)

In [55]:
# getting model scores
Gbr_r2 = r2_score(y_test, Gbr_predictions)
Gbr_mse = mean_squared_error( y_test,Gbr_predictions)
Gbr_rmse = np.sqrt(Gbr_mse)
Gbr_mae = mean_absolute_error(y_test,Gbr_predictions)
Gbr_rss = np.sum(np.square(y_test, Gbr_predictions))

In [56]:
model_results = pd.DataFrame([['GBR regression', knn_mae, knn_mse, knn_rmse, knn_rss,knn_r2]],
               columns = ['Model', 'MAE', 'MSE', 'RMSE', 'RSS','r2_score'])
results = pd.concat([results, model_results], ignore_index=True)

In [57]:
model_results

            Model       MAE       MSE      RMSE         RSS  r2_score
0  GBR regression  0.082342  0.018448  0.135824  104.785737  0.793223

In [58]:
Gbr_df = pd.DataFrame(data ={"actual_values": y_test, "predictions":knn_predictions})
Gbr_df.sort_index(ascending=True, inplace=True)
Gbr_df

      actual_values  predictions
Year
2012       0.948267     0.899210
2012       0.983187     0.966656
2012       0.624935     0.390544
2012       0.578376     0.334518
2012       0.204604     0.041863
...             ...          ...
2021       0.974521     0.949692
2021       0.967926     0.936880
2021       0.949172     0.900928
2021       1.000000     1.000000
2021       0.945810     0.894556

[170 rows x 2 columns]

In [59]:
# Printing the stored results of all the three models
results.drop_duplicates()

,Model,MAE,MSE,RMSE,RSS,r2_score
0,Linear regression,0.121022,0.027553,0.165992,104.785737,0.768865
1,Decision Tree regression,0.065356,0.018835,0.137240,104.785737,0.768865
2,KNN regression,0.082342,0.018448,0.135824,104.785737,0.793223
3,GBR regression,0.082342,0.018448,0.135824,104.785737,0.793223

### conclusion

1.Linear Regression time for the model to train is 0.06 seconds

1.Decision Tree Regression seems to perform well in terms of minimizing errors and time for the model to tarin is 0.13 seconds.

2.KNN Regression and GBR Regression have higher R-squared values, suggesting better explanatory power.
also, the time for the two models to train are 0.16 and 0.68 respectively.

3.Both KNN and GBR have the same MAE, MSE, and RMSE, indicating similar performance on average.