# Model Algorithm 

#### Linear Regressor
#### K Neighbors Regressor
#### Decision Tree Regressor
#### Gradient boosting Regressor

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import pickle
import warnings
warnings.filterwarnings('ignore')

In [2]:
df= pd.read_csv(r'Scaled_Primary.csv_')

In [3]:
df.head()

,Year,Completion Rate for Primary Edu,Childhood Education GER,"Gross enrolment ratio, early childhood educational development programmes,","Gross intake ratio to the last grade of primary education,",Literacy rate for 25-64 years old,Expenditure on education as a percentage of total government expenditure (%),Government expenditure on education as a percentage of GDP (%),Central Asia,Central and Southern Asia,Eastern and South-Eastern Asia,Europe and Northern America,Latin America and the Caribbean,Northern Africa and Western Asia,Oceania,Gender_numerical
0,2012,99.8,46.379381,6.361501,108.19,73.7825,19.25,3.90,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,2012,99.7,46.379381,6.361501,106.88,73.7825,19.25,3.90,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,2013,99.9,46.379381,6.361501,109.76,73.7825,17.96,3.44,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,2013,99.8,46.379381,6.361501,108.90,73.7825,17.96,3.44,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,2014,99.9,36.650000,0.000000,115.17,73.7825,17.32,3.42,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [4]:
df.rename(columns = {'Childhood Education GER':'Childhood_Education_GER', 'Gross enrolment ratio, early childhood educational development programmes,':'Gross_enrolment_ratio_early_childhood_educational_development_programmes', 
                    'Gross intake ratio to the last grade of primary education,':'Gross_intake_ratio_to_the_last_grade_of_primary_education',
                    'Literacy rate for 25-64 years old':'Literacy_rate_for_25_64_years_old', 'Expenditure on education as a percentage of total government expenditure (%)':'Expenditure_on_education_as_a_percentage_of_total_government_expenditure',
                    'Government expenditure on education as a percentage of GDP (%)':'Government_expenditure_on_education_as_a_percentage_of_GDP',
                    'Central Asia':'Central_Asia', 'Central and Southern Asia':'Central_and_Southern_Asia', 'Eastern and South-Eastern Asia':'Eastern_and_South_Eastern_Asia',
                    'Europe and Northern America':'Europe_and_Northern_America', 'Latin America and the Caribbean':'Latin_America_and_the_Caribbean',
                    'Northern Africa and Western Asia':'Northern_Africa_and_Western_Asia', 'Oceania':'Oceania', 'Gender_numerical':'Gender_numerical'}, inplace = True)

In [5]:
df.head()

,Year,Completion Rate for Primary Edu,Childhood_Education_GER,Gross_enrolment_ratio_early_childhood_educational_development_programmes,Gross_intake_ratio_to_the_last_grade_of_primary_education,Literacy_rate_for_25_64_years_old,Expenditure_on_education_as_a_percentage_of_total_government_expenditure,Government_expenditure_on_education_as_a_percentage_of_GDP,Central_Asia,Central_and_Southern_Asia,Eastern_and_South_Eastern_Asia,Europe_and_Northern_America,Latin_America_and_the_Caribbean,Northern_Africa_and_Western_Asia,Oceania,Gender_numerical
0,2012,99.8,46.379381,6.361501,108.19,73.7825,19.25,3.90,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,2012,99.7,46.379381,6.361501,106.88,73.7825,19.25,3.90,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,2013,99.9,46.379381,6.361501,109.76,73.7825,17.96,3.44,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,2013,99.8,46.379381,6.361501,108.90,73.7825,17.96,3.44,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,2014,99.9,36.650000,0.000000,115.17,73.7825,17.32,3.42,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1

## Data Transformation

#### 1. Data Rescaling

In [6]:
# Data Rescaling

data_col = df['Year']
df.set_index('Year',inplace =True)

df.head()

,Completion Rate for Primary Edu,Childhood_Education_GER,Gross_enrolment_ratio_early_childhood_educational_development_programmes,Gross_intake_ratio_to_the_last_grade_of_primary_education,Literacy_rate_for_25_64_years_old,Expenditure_on_education_as_a_percentage_of_total_government_expenditure,Government_expenditure_on_education_as_a_percentage_of_GDP,Central_Asia,Central_and_Southern_Asia,Eastern_and_South_Eastern_Asia,Europe_and_Northern_America,Latin_America_and_the_Caribbean,Northern_Africa_and_Western_Asia,Oceania,Gender_numerical
Year,,,,,,,,,,,,,,,
2012,99.8,46.379381,6.361501,108.19,73.7825,19.25,3.90,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2012,99.7,46.379381,6.361501,106.88,73.7825,19.25,3.90,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2013,99.9,46.379381,6.361501,109.76,73.7825,17.96,3.44,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2013,99.8,46.379381,6.361501,108.90,73.7825,17.96,3.44,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2014,99.9,36.650000,0.000000,115.17,73.7825,17.32,3.42,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [7]:
scaler = MinMaxScaler()
normalized_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
normalized_df['Year'] = data_col
normalized_df.set_index('Year', inplace =True)
normalized_df.head()

,Completion Rate for Primary Edu,Childhood_Education_GER,Gross_enrolment_ratio_early_childhood_educational_development_programmes,Gross_intake_ratio_to_the_last_grade_of_primary_education,Literacy_rate_for_25_64_years_old,Expenditure_on_education_as_a_percentage_of_total_government_expenditure,Government_expenditure_on_education_as_a_percentage_of_GDP,Central_Asia,Central_and_Southern_Asia,Eastern_and_South_Eastern_Asia,Europe_and_Northern_America,Latin_America_and_the_Caribbean,Northern_Africa_and_Western_Asia,Oceania,Gender_numerical
Year,,,,,,,,,,,,,,,
2012,0.997413,0.285122,0.068008,0.845059,0.713031,0.482729,0.286765,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2012,0.996120,0.285122,0.068008,0.831545,0.713031,0.482729,0.286765,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013,0.998707,0.285122,0.068008,0.861254,0.713031,0.446206,0.252941,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2013,0.997413,0.285122,0.068008,0.852383,0.713031,0.446206,0.252941,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2014,0.998707,0.224366,0.000000,0.917062,0.713031,0.428086,0.251471,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [8]:
normalized_df.corr()

,Completion Rate for Primary Edu,Childhood_Education_GER,Gross_enrolment_ratio_early_childhood_educational_development_programmes,Gross_intake_ratio_to_the_last_grade_of_primary_education,Literacy_rate_for_25_64_years_old,Expenditure_on_education_as_a_percentage_of_total_government_expenditure,Government_expenditure_on_education_as_a_percentage_of_GDP,Central_Asia,Central_and_Southern_Asia,Eastern_and_South_Eastern_Asia,Europe_and_Northern_America,Latin_America_and_the_Caribbean,Northern_Africa_and_Western_Asia,Oceania,Gender_numerical
Completion Rate for Primary Edu,1.000000,0.351886,0.305259,0.671671,0.398736,6.356004e-03,2.841990e-01,5.677172e-02,1.087869e-01,3.169058e-01,2.679680e-01,1.298787e-01,1.264468e-01,-6.916647e-01,5.555900e-02
Childhood_Education_GER,0.351886,1.000000,0.334212,0.377295,0.143463,-1.686364e-01,-1.141602e-03,1.016988e-01,1.773651e-01,2.085220e-01,4.306678e-02,-4.911766e-02,6.341314e-02,-3.556380e-01,4.159161e-03
Gross_enrolment_ratio_early_childhood_educational_development_programmes,0.305259,0.334212,1.000000,0.200007,0.123545,-1.186181e-02,-2.530235e-02,-1.044926e-01,8.581179e-02,3.599311e-01,1.322042e-01,-1.217224e-01,-1.007880e-01,-2.245242e-01,3.903865e-04
Gross_intake_ratio_to_the_last_grade_of_primary_education,0.671671,0.377295,0.200007,1.000000,0.329531,-5.938324e-02,2.255793e-01,1.113258e-01,1.021789e-01,1.786076e-01,2.322325e-01,2.125456e-02,1.365556e-01,-5.428933e-01,-1.899245e-03
Literacy_rate_for_25_64_years_old,0.398736,0.143463,0.123545,0.329531,1.000000,1.647740e-02,9.509635e-02,-1.187706e-01,6.378230e-02,2.029490e-02,4.064745e-01,8.498196e-03,-5.155189e-02,-3.150705e-01,-7.313633e-02
Expenditure_on_education_as_a_percentage_of_total_government_expenditure,0.006356,-0.168636,-0.011862,-0.059383,0.016477,1.000000e+00,3.856848e-01,-3.808543e-02,-1.319102e-01,-2.450364e-01,1.310693e-01,-4.273537e-02,-2.578618e-02,1.882934e-01,1.117825e-16
Government_expenditure_on_education_as_a_percentage_of_GDP,0.284199,-0.001142,-0.025302,0.225579,0.095096,3.856848e-01,1.000000e+00,-9.883898e-02,-9.509577e-02,1.931285e-02,6.713575e-02,1.360231e-02,2.169195e-01,-7.387889e-02,9.778019e-17
Central_Asia,0.056772,0.101699,-0.104493,0.111326,-0.118771,-3.808543e-02,-9.883898e-02,1.000000e+00,-1.028580e-01,-1.213554e-01,-1.838918e-01,-9.483980e-02,-8.893101e-02,-2.382951e-01,-4.750145e-16
Central_and_Southern_Asia,0.108787,0.177365,0.085812,0.102179,0.063782,-1.319102e-01,-9.509577e-02,-1.028580e-01,1.000000e+00,-1.093283e-01,-1.656670e-01,-8.544059e-02,-8.011740e-02,-2.146786e-01,-9.549145e-17
Eastern_and_South_Eastern_Asia,0.316906,0.208522,0.359931,0.178608,0.020295,-2.450364e-01,1.931285e-02,-1.213554e-01,-1.093283e-01,1.000000e+00,-1.954597e-01,-1.008058e-01,-9.452529e-02,-2.532853e-01,-3.643105e-17
Europe_and_Northern_America,0.267968,0.043067,0.132204,0.232232,0.406474,1.310693e-01,6.713575e-02,-1.838918e-01,-1.656670e-01,-1.954597e-01,1.000000e+00,-1.527526e-01,-1.432357e-01,-3.838073e-01,-7.354120e-17
Latin_America_and_the_Caribbean,0.129879,-0.049118,-0.121722,0.021255,0.008498,-4.273537e-02,1.360231e-02,-9.483980e-02,-8.544059e-02,-1.008058e-01,-1.527526e-01,1.000000e+00,-7.387195e-02,-1.979436e-01,-3.848071e-17
Northern_Africa_and_Western_Asia,0.126447,0.063413,-0.100788,0.136556,-0.051552,-2.578618e-02,2.169195e-01,-8.893101e-02,-8.011740e-02,-9.452529e-02,-1.432357e-01,-7.387195e-02,1.000000e+00,-1.856112e-01,9.496524e-17
Oceania,-0.691665,-0.355638,-0.224524,-0.542893,-0.315070,1.882934e-01,-7.387889e-02,-2.382951e-01,-2.146786e-01,-2.532853e-01,-3.838073e-01,-1.979436e-01,-1.856112e-01,1.000000e+00,4.241069e-16
Gender_numerical,0.055559,0.004159,0.000390,-0.001899,-0.073136,1.117825e-16,9.778019e-17,-4.750145e-16,-9.549145e-17,-3.643105e-17,-7.354120e-17,-3.848071e-17,9.496524e-17,4.241069e-16,1.000000e+00

In [9]:
# spliting the dataset into train set, test set, validation set.
datax = normalized_df.drop('Completion Rate for Primary Edu', axis = 1)
datay = normalized_df['Completion Rate for Primary Edu']

train_ratio = 0.75
val_ratio = 0.15
test_ratio = 0.10

# making the train set to be 75% of the entire dataset.
x_train, x_test, y_train, y_test = train_test_split(datax, datay, test_size = 1-train_ratio)

# test is now 10% of the entire dataset
# validation is now 15% of the entire dataset

x_val, x_test, y_val, y_test = train_test_split(x_test, y_test, test_size = test_ratio/(test_ratio + val_ratio))

print(x_train, x_val, x_test)

      Childhood_Education_GER  \
Year
2014                 0.645623
2016                 0.095604
2021                 0.200262
2015                 0.285122
2019                 0.208068
...                       ...
2019                 0.110091
2020                 0.135382
2016                 0.285122
2018                 0.322156
2019                 0.345073

      Gross_enrolment_ratio_early_childhood_educational_development_programmes  \
Year
2014                                           0.000000
2016                                           0.000000
2021                                           0.000000
2015                                           0.000000
2019                                           0.000000
...                                                 ...
2019                                           0.000000
2020                                           0.000000
2016                                           0.000000
2018                                           0.056874
2019                                           0.271969

      Gross_intake_ratio_to_the_last_grade_of_primary_education  \
Year
2014                                           0.715907
2016                                           0.426243
2021                                           0.623375
2015                                           0.789973
2019                                           0.398184
...                                                 ...
2019                                           0.582216
2020                                           0.342274
2016                                           0.646373
2018                                           0.741283
2019                                           0.736744

      Literacy_rate_for_25_64_years_old  \
Year
2014                           0.713031
2016                           0.713031
2021                           0.935858
2015                           0.713031
2019                           0.713031
...                                 ...
2019                           0.713031
2020                           0.713031
2016                           0.713031
2018                           0.969024
2019                           0.713031

      Expenditure_on_education_as_a_percentage_of_total_government_expenditure  \
Year
2014                                           0.392129
2016                                           0.363037
2021                                           0.492356
2015                                           0.337203
2019                                           0.530011
...                                                 ...
2019                                           0.343431
2020                                           0.363037
2016                                           0.363037
2018                                           0.422707
2019                                           0.538788

      Government_expenditure_on_education_as_a_percentage_of_GDP  \
Year
2014                                           0.215441
2016                                           0.306152
2021                                           0.275735
2015                                           0.232353
2019                                           0.329412
...                                                 ...
2019                                           0.183824
2020                                           0.216176
2016                                           0.306152
2018                                           0.272794
2019                                           0.413235

      Central_Asia  Central_and_Southern_Asia  Eastern_and_South_Eastern_Asia  \
Year
2014           0.0                        1.0                             0.0
2016           0.0                        0.0                             0.0
2021           0.0                        0.0                             0.0
2015           0.0                        0.0                             0.0
2019           0.0                        0.0                             0.0
...            ...                        ...                             ...
2019           0.0                        0.0                             0.0
2020           0.0                        0.0                             0.0
2016           0.0                        0.0                             0.0
2018           0.0                        0.0                             0.0
2019           0.0                        0.0                             0.0

      Europe_and_Northern_America  Latin_America_and_the_Caribbean  \
Year
2014                          0.0                              0.0
2016                          0.0                              0.0
2021                          1.0                              0.0
2015                          0.0                              1.0
2019                          0.0                              0.0
...                           ...                              ...
2019                          0.0                              0.0
2020                          0.0                              0.0
2016                          0.0                              1.0
2018                          1.0                              0.0
2019                          1.0                              0.0

      Northern_Africa_and_Western_Asia  Oceania  Gender_numerical
Year
2014                               0.0      0.0               0.0
2016                               0.0      1.0               0.0
2021                               0.0      0.0               0.0
2015                               0.0      0.0               1.0
2019                               0.0      1.0               1.0
...                                ...      ...               ...
2019                               0.0      1.0               0.0
2020                               0.0      1.0               1.0
2016                               0.0      0.0               0.0
2018                               0.0      0.0               0.0
2019                               0.0      0.0               1.0

[1273 rows x 14 columns]       Childhood_Education_GER  \
Year
2018                 0.177844
2016                 0.291682
2013                 0.092044
2016                 0.285122
2015                 0.487761
...                       ...
2015                 0.224991
2019                 0.285122
2021                 0.285122
2013                 0.285122
2015                 0.228862

      Gross_enrolment_ratio_early_childhood_educational_development_programmes  \
Year
2018                                           0.012294
2016                                           0.292923
2013                                           0.138443
2016                                           0.000000
2015                                           0.000000
...                                                 ...
2015                                           0.000000
2019                                           0.068008
2021                                           0.068008
2013                                           0.068008
2015                                           0.000000

      Gross_intake_ratio_to_the_last_grade_of_primary_education  \
Year
2018                                           0.646373
2016                                           0.646373
2013                                           0.711368
2016                                           0.646373
2015                                           0.646373
...                                                 ...
2015                                           0.534867
2019                                           0.646373
2021                                           0.816278
2013                                           0.765525
2015                                           0.884671

      Literacy_rate_for_25_64_years_old  \
Year
2018                           0.945271
2016                           0.942426
2013                           0.713031
2016                           0.713031
2015                           0.713031
...                                 ...
2015                           0.713031
2019                           0.713031
2021                           0.958406
2013                           0.932137
2015                           0.713031

      Expenditure_on_education_as_a_percentage_of_total_government_expenditure  \
Year
2018                                           0.276614
2016                                           0.388732
2013                                           0.605889
2016                                           0.229332
2015                                           0.284824
...                                                 ...
2015                                           0.312571
2019                                           0.428652
2021                                           0.363037
2013                                           0.398075
2015                                           0.334088

      Government_expenditure_on_education_as_a_percentage_of_GDP  \
Year
2018                                           0.242647
2016                                           0.463971
2013                                           0.632353
2016                                           0.196324
2015                                           0.280147
...                                                 ...
2015                                           0.195588
2019                                           0.208824
2021                                           0.306152
2013                                           0.358824
2015                                           0.357353

      Central_Asia  Central_and_Southern_Asia  Eastern_and_South_Eastern_Asia  \
Year
2018           0.0                        0.0                             0.0
2016           0.0                        0.0                             0.0
2013           0.0                        0.0                             0.0
2016           0.0                        0.0                             0.0
2015           0.0                        1.0                             0.0
...            ...                        ...                             ...
2015           0.0                        0.0                             0.0
2019           0.0                        1.0                             0.0
2021           0.0                        0.0                             0.0
2013           0.0                        0.0                             0.0
2015           0.0                        0.0                             0.0

      Europe_and_Northern_America  Latin_America_and_the_Caribbean  \
Year
2018                          1.0                              0.0
2016                          1.0                              0.0
2013                          0.0                              0.0
2016                          0.0                              0.0
2015                          0.0                              0.0
...                           ...                              ...
2015                          0.0                              0.0
2019                          0.0                              0.0
2021                          1.0                              0.0
2013                          1.0                              0.0
2015                          0.0                              0.0

      Northern_Africa_and_Western_Asia  Oceania  Gender_numerical
Year
2018                               0.0      0.0               1.0
2016                               0.0      0.0               1.0
2013                               0.0      1.0               1.0
2016                               0.0      1.0               0.0
2015                               0.0      0.0               1.0
...                                ...      ...               ...
2015                               0.0      1.0               0.0
2019                               0.0      0.0               1.0
2021                               0.0      0.0               0.0
2013                               0.0      0.0               0.0
2015                               1.0      0.0               1.0

[255 rows x 14 columns]       Childhood_Education_GER  \
Year
2015                 0.285122
2019                 0.285122
2015                 0.199263
2012                 0.285122
2012                 0.285122
...                       ...
2020                 0.094979
2020                 0.285122
2017                 0.440177
2015                 0.195891
2015                 0.337018

      Gross_enrolment_ratio_early_childhood_educational_development_programmes  \
Year
2015                                           0.068008
2019                                           0.068008
2015                                           0.000000
2012                                           0.068008
2012                                           0.000000
...                                                 ...
2020                                           0.000000
2020                                           0.068008
2017                                           0.000000
2015                                           0.000000
2015                                           0.151272

      Gross_intake_ratio_to_the_last_grade_of_primary_education  \
Year
2015                                           0.766866
2019                                           0.646373
2015                                           0.646373
2012                                           0.646373
2012                                           0.310811
...                                                 ...
2020                                           0.287601
2020                                           0.646373
2017                                           0.646373
2015                                           0.646373
2015                                           0.751393

      Literacy_rate_for_25_64_years_old  \
Year
2015                           0.940346
2019                           0.938157
2015                           0.509523
2012                           0.713031
2012                           0.713031
...                                 ...
2020                           0.713031
2020                           0.713031
2017                           0.296629
2015                           0.601905
2015                           0.713031

      Expenditure_on_education_as_a_percentage_of_total_government_expenditure  \
Year
2015                                           0.342299
2019                                           0.276048
2015                                           0.278596
2012                                           0.363037
2012                                           0.497452
...                                                 ...
2020                                           0.574179
2020                                           0.363037
2017                                           0.349377
2015                                           0.278596
2015                                           0.611835

      Government_expenditure_on_education_as_a_percentage_of_GDP  \
Year
2015                                           0.328676
2019                                           0.256618
2015                                           0.137500
2012                                           0.306152
2012                                           0.416912
...                                                 ...
2020                                           0.419118
2020                                           0.306152
2017                                           0.189706
2015                                           0.137500
2015                                           0.325735

      Central_Asia  Central_and_Southern_Asia  Eastern_and_South_Eastern_Asia  \
Year
2015           0.0                        0.0                             0.0
2019           0.0                        0.0                             0.0
2015           1.0                        0.0                             0.0
2012           0.0                        0.0                             0.0
2012           0.0                        0.0                             0.0
...            ...                        ...                             ...
2020           0.0                        0.0                             0.0
2020           0.0                        0.0                             0.0
2017           1.0                        0.0                             0.0
2015           1.0                        0.0                             0.0
2015           0.0                        0.0                             0.0

      Europe_and_Northern_America  Latin_America_and_the_Caribbean  \
Year
2015                          1.0                              0.0
2019                          1.0                              0.0
2015                          0.0                              0.0
2012                          0.0                              0.0
2012                          0.0                              0.0
...                           ...                              ...
2020                          0.0                              0.0
2020                          0.0                              0.0
2017                          0.0                              0.0
2015                          0.0                              0.0
2015                          0.0                              0.0

      Northern_Africa_and_Western_Asia  Oceania  Gender_numerical
Year
2015                               0.0      0.0               0.0
2019                               0.0      0.0               1.0
2015                               0.0      0.0               1.0
2012                               0.0      1.0               0.0
2012                               0.0      1.0               0.0
...                                ...      ...               ...
2020                               0.0      1.0               0.0
2020                               1.0      0.0               0.0
2017                               0.0      0.0               1.0
2015                               0.0      0.0               0.0
2015                               0.0      1.0               0.0

[170 rows x 14 columns]

## Model Training, Testing and evaluation

 
 Because the target variable been 'Completion rate for primary school Edu' is a continoues data and not categorical. therfore, the model algorithm to be use is the regression and not classifiers.

#### 1. Linear Regression

In [10]:

import time

# Record start time
start_time = time.time()

# Create a Linear Regression model
linear_model = LinearRegression()

# Fit the model to the training dataset
linear_model.fit(x_train, y_train)

# Record end time
end_time = time.time()

# Calculate elapsed time
elapsed_time = end_time - start_time

# Display training time
print("Training took {:.2f} seconds.".format(elapsed_time))

Training took 2.02 seconds.

In [11]:
# Obtain predictions
predicted_values = linear_model.predict(x_test)

#Measuring regression performance
MAE = mean_absolute_error(y_test, predicted_values)
MSE = mean_squared_error(y_test, predicted_values)
RMSE =np.sqrt(mean_squared_error(y_test, predicted_values))
RSS =np.sum(np.square(y_test, predicted_values))
r2=r2_score(y_test, predicted_values)

In [12]:
# Model evaluation

results = pd.DataFrame([['Linear regression', MAE, MSE, RMSE, RSS,r2]],
               columns = ['Model', 'MAE', 'MSE', 'RMSE', 'RSS','r2_score'])
results

               Model       MAE       MSE      RMSE        RSS  r2_score
0  Linear regression  0.126248  0.025239  0.158869  99.505067  0.723679

In [13]:
lreg_df = pd.DataFrame(data ={"actual_values": y_test, "predictions":predicted_values})
lreg_df

      actual_values  predictions
Year
2015       0.867693     0.752891
2019       0.943999     0.891134
2015       0.804708     0.647554
2012       0.709002     0.502683
2012       0.123125     0.015160
...             ...          ...
2020       0.318417     0.101389
2020       0.410243     0.168299
2017       0.358510     0.128529
2015       0.643042     0.413503
2015       0.599069     0.358883

[170 rows x 2 columns]

#### Decition Tree Regressor

In [14]:
from sklearn.tree import DecisionTreeRegressor

import time


# Record start time
start_time = time.time()

DecisionTree_model = DecisionTreeRegressor()
DecisionTree_model.fit(x_train,y_train)

# Record end time
end_time = time.time()

# Calculate elapsed time
elapsed_time = end_time - start_time

# Display training time
print("Training took {:.2f} seconds.".format(elapsed_time))

Training took 0.04 seconds.

In [15]:
y_preds = DecisionTree_model.predict(x_test)

In [16]:
# Model Evaluation
mae= mean_absolute_error(y_test, y_preds)
mse= mean_squared_error(y_test, y_preds)
rmse=np.sqrt(mean_squared_error(y_test, y_preds))
rss=np.sum(np.square(y_test, y_preds))
r_squared=r2_score(y_test, y_preds)

In [17]:
model_results = pd.DataFrame([['Decision Tree regression', mae, mse, rmse, rss,r_squared]],
               columns = ['Model', 'MAE', 'MSE', 'RMSE', 'RSS','r2_score'])
results = pd.concat([results, model_results], ignore_index=True)

In [18]:
model_results

                      Model       MAE       MSE      RMSE        RSS  r2_score
0  Decision Tree regression  0.063265  0.010886  0.104335  99.505067  0.723679

In [19]:
Dreg_df = pd.DataFrame(data ={"actual_values": y_test, "predictions":predicted_values})
Dreg_df

      actual_values  predictions
Year
2015       0.867693     0.752891
2019       0.943999     0.891134
2015       0.804708     0.647554
2012       0.709002     0.502683
2012       0.123125     0.015160
...             ...          ...
2020       0.318417     0.101389
2020       0.410243     0.168299
2017       0.358510     0.128529
2015       0.643042     0.413503
2015       0.599069     0.358883

[170 rows x 2 columns]

#### K-Nearest Neighbors Regression (KNN Regression)

In [20]:

# Record start time
start_time = time.time()

knn = KNeighborsRegressor()

knn.fit(x_train, y_train)

# Record end time
end_time = time.time()

# Calculate elapsed time
elapsed_time = end_time - start_time

# Display training time
print("Training took {:.2f} seconds.".format(elapsed_time))

Training took 0.03 seconds.

In [21]:
knn_predictions  = knn.predict(x_test)

In [22]:
print(knn_predictions.shape, y_test.shape)

(170,) (170,)

In [23]:
# getting model scores
knn_r2 = r2_score(y_test, knn_predictions)
knn_mse = mean_squared_error( y_test,knn_predictions)
knn_rmse = np.sqrt(knn_mse)
knn_mae = mean_absolute_error(y_test,knn_predictions)
knn_rss = np.sum(np.square(y_test, knn_predictions))

In [24]:
model_results = pd.DataFrame([['KNN regression', knn_mae, knn_mse, knn_rmse, knn_rss,knn_r2]],
               columns = ['Model', 'MAE', 'MSE', 'RMSE', 'RSS','r2_score'])
results = pd.concat([results, model_results], ignore_index=True)

In [25]:
model_results

            Model       MAE       MSE      RMSE        RSS  r2_score
0  KNN regression  0.095335  0.019552  0.139828  99.505067  0.772738

In [26]:
knn_df = pd.DataFrame(data ={"actual_values": y_test, "predictions":knn_predictions})
knn_df.sort_index(ascending=True, inplace=True)
knn_df

      actual_values  predictions
Year
2012       0.606829     0.368241
2012       0.857087     0.734599
2012       0.605535     0.366673
2012       0.950336     0.903139
2012       0.401190     0.160953
...             ...          ...
2020       0.777548     0.604581
2020       0.989653     0.979414
2020       0.405070     0.164082
2020       0.710295     0.504519
2021       0.985515     0.971239

[170 rows x 2 columns]

In [27]:
from sklearn.ensemble import GradientBoostingRegressor


# Record start time
start_time = time.time()

Gbr = GradientBoostingRegressor()
Gbr.fit(x_train,y_train)

# Record end time
end_time = time.time()

# Calculate elapsed time
elapsed_time = end_time - start_time

# Display training time
print("Training took {:.2f} seconds.".format(elapsed_time))

Training took 2.76 seconds.

In [28]:
Gbr_predictions  = Gbr.predict(x_test)

In [29]:
# getting model scores
Gbr_r2 = r2_score(y_test, Gbr_predictions)
Gbr_mse = mean_squared_error( y_test,Gbr_predictions)
Gbr_rmse = np.sqrt(Gbr_mse)
Gbr_mae = mean_absolute_error(y_test,Gbr_predictions)
Gbr_rss = np.sum(np.square(y_test, Gbr_predictions))

In [30]:
model_results = pd.DataFrame([['GBR regression', knn_mae, knn_mse, knn_rmse, knn_rss,knn_r2]],
               columns = ['Model', 'MAE', 'MSE', 'RMSE', 'RSS','r2_score'])
results = pd.concat([results, model_results], ignore_index=True)

In [31]:
model_results

            Model       MAE       MSE      RMSE        RSS  r2_score
0  GBR regression  0.095335  0.019552  0.139828  99.505067  0.772738

In [32]:
Gbr_df = pd.DataFrame(data ={"actual_values": y_test, "predictions":knn_predictions})
Gbr_df.sort_index(ascending=True, inplace=True)
Gbr_df

      actual_values  predictions
Year
2012       0.606829     0.368241
2012       0.857087     0.734599
2012       0.605535     0.366673
2012       0.950336     0.903139
2012       0.401190     0.160953
...             ...          ...
2020       0.777548     0.604581
2020       0.989653     0.979414
2020       0.405070     0.164082
2020       0.710295     0.504519
2021       0.985515     0.971239

[170 rows x 2 columns]

In [33]:
# Printing the stored results of all the three models
results.drop_duplicates()

                      Model       MAE       MSE      RMSE        RSS  r2_score
0         Linear regression  0.126248  0.025239  0.158869  99.505067  0.723679
1  Decision Tree regression  0.063265  0.010886  0.104335  99.505067  0.723679
2            KNN regression  0.095335  0.019552  0.139828  99.505067  0.772738
3            GBR regression  0.095335  0.019552  0.139828  99.505067  0.772738

### conclusion

1.Linear Regression time for the model to train is 0.06 seconds

1.Decision Tree Regression seems to perform well in terms of minimizing errors and time for the model to tarin is 0.13 seconds.

2.KNN Regression and GBR Regression have higher R-squared values, suggesting better explanatory power.
also, the time for the two models to train are 0.16 and 0.68 respectively.

3.Both KNN and GBR have the same MAE, MSE, and RMSE, indicating similar performance on average.

In [34]:
# creating pickle file for deployment
file = open('pickled_Gbr.pkl', 'wb')
pickle.dump(Gbr, file)